@using RealtyStore.WebUI.Models
@using RealtyStore.WebUI.HtmlHelpers
@model RealtiesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Realties)
{
   @Html.Partial("RealtySummary" , p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { page = x, category = Model.CurrentCategory }))
</div>

